<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<base href="/">
	<title>Eat-Da-Burger! </title>
	<link rel="stylesheet" href="/assets/css/style.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
		integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burgers.js"></script>
</head>

<body>
	<h1>Eat-Da-Burger! </h1>
<br>
	<div class="container">
		
			
			{{{ body }}}
	
	</div>
	
</body>


</html>